{% extends "base_generic.html" %}

{% block content %}

﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">


    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
  <body class="login-body">

    <div class="container">

      {% if form.errors %}
      <p>یوزر یا پسورد را اشتباه زدید</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>شما نمی توانید به این صفحه وارد شوید</p>
          {% else %}
          <center><p ">لطفا وارد شوید"</p></center>
            {% endif %}
          {% endif %}

      <form class="form-signin" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <h2 class="form-signin-heading">همین حالا وارد شوید</h2>
        <div class="login-wrap">
            <input type="text" id="username" name="username" class="form-control" placeholder="نام کاربری" autofocus>
            <input type="password" name="password" id="password" class="form-control" placeholder="کلمه عبور">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> مرا به خاطر بسپار
                <span class="pull-right"> <a href="#"> کلمه عبور را فراموش کرده اید؟</a></span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">ورود</button>
            <p>یا توسط یکی از حسابهای شبکه اجتماعی خود وارد شوید</p>
            <div class="login-social-link">
                <a href="index.html" class="facebook">
                    <i class="icon-facebook"></i>
                    Facebook
                </a>
                <a href="index.html" class="twitter">
                    <i class="icon-twitter"></i>
                    Twitter
                </a>
            </div>

        </div>

      </form>

    </div>


  </body>
</html>
{% endblock %}
